@import url(https://fonts.googleapis.com/css?family=Righteous&effect=fire-animation);
@import url(https://fonts.googleapis.com/css?family=Righteous&effect=ice);

html,
body{
  font-family: 'Righteous', cursive;
  font-size: 40px;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}

#temperature {
  font-size: 300px;
  padding: 30px 0 0 0;
}

#left {
  float: left;
  height: 100%;
  width: 50%;

}

#right {
  float: right;
  height: 100%;
  width: 50%;

}

#current-temp {
  padding: 100px 0 0 0;
}

#bottom-right{
  padding: 100px 0 0 0;
}


h2{
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px
} 

h1{
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px
} 

button {
  background: none;
  border: none;
  font-size: 100px;
  font-family: 'Righteous'

 }

 #current-city {
  background: none;
  border: none;
  font-size: 30px;
  font-family: 'Righteous'
}

#submit {
  background: none;
  border: none;
  font-size: 30px;
  font-family: 'Righteous'
}

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.low-usage {
  color: black;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

